body{
    min-height: 400px;
    width: 90%;
    margin: 0 auto;
}
.error{
    border: 1px solid red;
    text-transform: uppercase;
    color: white;
    background-color: red;
    text-align: center;
}
#boton, #boton2{
    background-color: black;
    font-size: 20px;
    color: white;
    border: 1px solid black;
    padding: 5px 40px;
    margin-top: 10px;
}